<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/Imagenes/LOGO-CERVECERIA.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/estilo/tienda.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <title>The Camp || Tienda</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-white">
            <div class="container-fluid">
                <a href="#">
                    <img src="./assets/imagenes/logo-nombre-negro.png" class="imagen-navbar navbar-brand"
                        alt="Logo the camp">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link animated-line fs-5" aria-current="page" href="./index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link animated-line fs-5" href="./nosotros.html">Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link animated-line fs-5" href="./catalogo.html">Catalogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link animated-line fs-5" href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link animated-line fs-5" href="./tienda.html">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link animated-line fs-5" href="./login-register.html"><iconify-icon
                                    icon="ph:user-circle"></iconify-icon></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

 <!--    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/imagenes/carousel1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./assets/imagenes/carousel2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./assets/imagenes/carousel3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> -->

    <main class="main">
        <div id="app">
            {{filtro}}
        <h1 class="w-100 d-flex justify-content-center p-3 titulo-tienda">TIENDA</h1>
        <div class="contenedor-buscador-carrito">
            <div class="input-group container-buscador">
                <div class="form-outline">
                    <input id="search-focus" type="search" id="search" role="search" class="form-control" placeholder="Buscar cerveza..." v-model="filtroInput">
                </div>
            </div>
            <div class="container-dropdown">
                <div class="dropdown">
                    <button class="btn btn-carrito dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <iconify-icon icon="typcn:shopping-cart" width="25" height="25"></iconify-icon>
                    </button>
                    <div class="dropdown-menu">
                        <div class="card menu-item" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Nombre</h5>
                                <p>Precio: $</p>
                                <p>Unidades:
                                    <button class="btn border border-dark m-2">+</button>
                                    <button class="btn border border-dark m-2">-</button>
                                </p>
                                <button class="btn btn-danger btn-sm ">Quitar elemento</button>
                            </div>
                        </div>
                        <p v-if="carrito.length" class="mt-4" style="text-align: center;">Total: $</p>
                        <a v-if="carrito.length" href="./compra.html" class="btn btn-carrito finalizarCompra">Finalizar Compra</a>
                        <h5 v-if="!carrito.length" style="text-align: center;">Su carrito se encuentra vacio</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedor-cartas-categorias">
            <div class="contenedor-categorias">
                <!-- CATEGORIAS-->
                <nav class="navbar navbar-expand-lg bg-white">
                    <div class="contenedor">
                        <a class="navbar-brand" href="#">Categorias</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavcategorias" aria-controls="navbarNavcategorias" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <iconify-icon icon="ic:baseline-plus"></iconify-icon>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavcategorias">
                            <ul class="navbar-nav contenedor-tipos">
                                <h6 class="nav-item">Tipos de cervezas</h6>
                                <li class="nav-item">
                                    <template v-for="tipo of setTipo">
                                        <label>
                                        <input type="checkbox" class="nav-link" checked autocomplete="on" :value="tipo" v-model="checked">{{tipo}}</label>
                                    </template>
                                </li>
                            </ul>
                            <ul class="navbar-nav contenedor-formato">
                                <h6 class="nav-item">Tipos de Formatos</h6>
                                <li class="nav-item">
                                    <template v-for="formato of setFormato">
                                    <label>
                                        <input type="checkbox" class="nav-link" checked autocomplete="on" :value="formato" v-model="checked">{{formato}}</label>
                                    </template>
                                </li>
                            </ul>
                            <ul class="navbar-nav contenedor-marcas">
                                <h6 class="nav-item">Marcas de cervezas</h6>
                                <li class="nav-item">
                                    <template v-for="marca of setMarca">
                                        <label>
                                            <input type="checkbox" class="nav-link" checked autocomplete="on" :value="marca" v-model="checked">{{marca}}</label>
                                    </template>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

                <div class="container-cards">
                    <div class="row">
                        <div class="card card-cervezas col-xl-3 col-lg-4 col-md-6 col-xs-12" v-for="producto of cervezasFiltradas">
                            <div class="card-body">
                                <div class="card-img">
                                    <img :src="producto.img" class="card-img img-fluid" alt="">
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div class="mb-2">
                                    <h6 class="font-weight-semibold mb-2"><a href="#" class="text-default mb-2" data-abc="true">{{producto.nombre}}</a></h6>
                                    <a href="#" class="text-muted" data-abc="true">{{producto.fabricante}} - {{producto.presentacion}}</a>
                                    <p>ABV: {{producto.abv}} - IBU: {{producto.ibu}}</p>
                                </div>
                                <h3 class="mb-2 font-weight-semibold">${{producto.precio}}</h3>
                                <div class="card-link-wrapper">
                                    <a href="" class="card-link text-uppercase btn">Agregar al carrito</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </main>
    <footer class="text-center text-lg-start text-white ">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <!--Grid row-->
            <div class="row">
                <!-- Grid column Horarios de Atención-->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h4 class="text-uppercase mb-4" style="text-shadow: black 2px 2px 2px;">Horarios de Atención</h4>
            
                    <table class="table text-center text-white">
                    <tbody class="font-weight-normal">
                        <tr>
                        <td>Lun - Vie:</td>
                        <td>09:00 - 21:00</td>
                        </tr>
                        <tr>
                        <td>Sábado</td>
                        <td>10:00 - 14:00</td>
                        </tr>
                    </tbody>
                    </table>
                </div>        
                <!-- Grid column Contacto-->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 contacto-columna">
                    <h4 class="text-uppercase mb-4 font-weight-bold" style="text-shadow: black 2px 2px 2px;">Contacto</h4>
                    <a href="https://goo.gl/maps/ishuvxPQRbcFFEyR8"><iconify-icon icon="mdi:google-maps" style="color: white;" width="20" height="20"></iconify-icon> Argentina, Río Negro, El Bolson, Av. San Martín 2760
                    </a>
                    <a href="TheCampCervezas@gmail.com"><iconify-icon icon="fluent-emoji-high-contrast:e-mail" style="color: white;" width="20" height="20"></iconify-icon> the_CamP@gmail.com</a>
                    <br>
                    <a href="tel:+ 54 011 567 88"><iconify-icon icon="mdi:telephone-in-talk" style="color: white;" width="20" height="20"></iconify-icon> + 54 011 567 88</a>
                </div>
                <!-- Grid column Redes sociales-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold" style="text-shadow: black 2px 2px 2px;">Seguinos en redes:</h5>
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1 botones" href="https://www.facebook.com/" role="button"><img class="LogosFooter" src="./assets/imagenes/Facebook.png" alt="Facebook Logo"></a>
                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1 botones" href="https://www.instagram.com/" role="button"><img class="LogosFooter" src="./assets/imagenes/IG.png" alt="Instagram Logo"></a>
                    <!-- Whatsapp -->
                    <a class="btn btn-outline-light btn-floating m-1 botones" href="https://web.whatsapp.com/" role="button"><img class="LogosFooter" src="./assets/imagenes/Whatsapp.png" alt="Whatsapp Logo"></a>
                </div>
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
    
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:<a class="text-white">Grupo 3 - Cohort 37/38</a>
            </div>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/tienda.js"></script>
</body>

</html>